.sidebar {
  position: fixed;
  width: 132px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(241, 102, 87, 0.7);
  padding: 20px;
}

.sidebar ul {
  list-style: none;
	padding-left: 0px;
}